
.container{
    margin-bottom: 40px;
}
.carousel-item{
    padding: 20px 40px;
    
}

.button-buy-now{
    background-color: #000000;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    color: #FFFFFF;
    
}
.container h6, p{
    color:gray;
}

.card{
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 1px lightgray;
    padding: 5px;
}
.card-footer{
    background-color: white;
    border: none;
}

#phone a, #laptop a{
    color:#FF9D00;
}

footer{
    text-align: center;
}
